In [1]:
import pandas as pd

In [2]:
geojson = pd.read_csv("us_county_geojson.csv")

In [3]:
geojson.head(50)

        county state_code                                        json_object
0   Lauderdale         AL  {"type": "Polygon", "coordinates": [[[-87.2541...
1    Limestone         AL  {"type": "Polygon", "coordinates": [[[-87.2541...
2      Madison         AL  {"type": "Polygon", "coordinates": [[[-86.7882...
3      Jackson         AL  {"type": "Polygon", "coordinates": [[[-86.3035...
4      Colbert         AL  {"type": "Polygon", "coordinates": [[[-87.4250...
5       DeKalb         AL  {"type": "Polygon", "coordinates": [[[-85.5118...
6     Lawrence         AL  {"type": "Polygon", "coordinates": [[[-87.5341...
7       Morgan         AL  {"type": "Polygon", "coordinates": [[[-86.5463...
8     Marshall         AL  {"type": "Polygon", "coordinates": [[[-86.0608...
9     Franklin         AL  {"type": "Polygon", "coordinates": [[[-87.5341...
10    Cherokee         AL  {"type": "Polygon", "coordinates": [[[-85.4165...
11      Marion         AL  {"type": "Polygon", "coordinates": [[[-87.9496...
12     Cullman         AL  {"type": "Polygon", "coordinates": [[[-87.1105...
13     Winston         AL  {"type": "Polygon", "coordinates": [[[-87.1105...
14      Blount         AL  {"type": "Polygon", "coordinates": [[[-86.9679...
15      Etowah         AL  {"type": "Polygon", "coordinates": [[[-86.3028...
16       Lamar         AL  {"type": "Polygon", "coordinates": [[[-87.9496...
17      Walker         AL  {"type": "Polygon", "coordinates": [[[-87.4189...
18   St. Clair         AL  {"type": "Polygon", "coordinates": [[[-86.5212...
19     Calhoun         AL  {"type": "Polygon", "coordinates": [[[-85.7935...
20    Cleburne         AL  {"type": "Polygon", "coordinates": [[[-85.3352...
21     Fayette         AL  {"type": "Polygon", "coordinates": [[[-87.8341...
22   Jefferson         AL  {"type": "Polygon", "coordinates": [[[-87.0599...
23   Talladega         AL  {"type": "Polygon", "coordinates": [[[-86.4889...
24  Tuscaloosa         AL  {"type": "Polygon", "coordinates": [[[-87.8370...
25      Shelby         AL  {"type": "Polygon", "coordinates": [[[-87.0183...
26     Pickens         AL  {"type": "Polygon", "coordinates": [[[-87.8370...
27    Randolph         AL  {"type": "Polygon", "coordinates": [[[-85.6423...
28        Clay         AL  {"type": "Polygon", "coordinates": [[[-86.0030...
29        Bibb         AL  {"type": "Polygon", "coordinates": [[[-87.4198...
30      Greene         AL  {"type": "Polygon", "coordinates": [[[-87.7119...
31    Chambers         AL  {"type": "Polygon", "coordinates": [[[-85.5896...
32  Tallapoosa         AL  {"type": "Polygon", "coordinates": [[[-85.5896...
33       Coosa         AL  {"type": "Polygon", "coordinates": [[[-86.5215...
34     Chilton         AL  {"type": "Polygon", "coordinates": [[[-87.0147...
35        Hale         AL  {"type": "Polygon", "coordinates": [[[-87.4195...
36      Sumter         AL  {"type": "Polygon", "coordinates": [[[-87.9337...
37       Perry         AL  {"type": "Polygon", "coordinates": [[[-87.4668...
38      Elmore         AL  {"type": "Polygon", "coordinates": [[[-85.8821...
39         Lee         AL  {"type": "Polygon", "coordinates": [[[-85.0841...
40     Autauga         AL  {"type": "Polygon", "coordinates": [[[-86.8206...
41      Dallas         AL  {"type": "Polygon", "coordinates": [[[-87.4683...
42       Macon         AL  {"type": "Polygon", "coordinates": [[[-85.9319...
43     Marengo         AL  {"type": "Polygon", "coordinates": [[[-87.6671...
44     Russell         AL  {"type": "Polygon", "coordinates": [[[-85.4331...
45  Montgomery         AL  {"type": "Polygon", "coordinates": [[[-85.9980...
46     Lowndes         AL  {"type": "Polygon", "coordinates": [[[-86.4491...
47     Choctaw         AL  {"type": "Polygon", "coordinates": [[[-88.4650...
48     Bullock         AL  {"type": "Polygon", "coordinates": [[[-85.4113...
49      Wilcox         AL  {"type": "Polygon", "coordinates": [[[-86.9125...

In [4]:
geojson["Full County"] = geojson["county"] + ", " + geojson["state_code"]

In [7]:
del geojson["county"]
del geojson["state_code"]
geojson.head(50)

                                          json_object     Full County
0   {"type": "Polygon", "coordinates": [[[-87.2541...  Lauderdale, AL
1   {"type": "Polygon", "coordinates": [[[-87.2541...   Limestone, AL
2   {"type": "Polygon", "coordinates": [[[-86.7882...     Madison, AL
3   {"type": "Polygon", "coordinates": [[[-86.3035...     Jackson, AL
4   {"type": "Polygon", "coordinates": [[[-87.4250...     Colbert, AL
5   {"type": "Polygon", "coordinates": [[[-85.5118...      DeKalb, AL
6   {"type": "Polygon", "coordinates": [[[-87.5341...    Lawrence, AL
7   {"type": "Polygon", "coordinates": [[[-86.5463...      Morgan, AL
8   {"type": "Polygon", "coordinates": [[[-86.0608...    Marshall, AL
9   {"type": "Polygon", "coordinates": [[[-87.5341...    Franklin, AL
10  {"type": "Polygon", "coordinates": [[[-85.4165...    Cherokee, AL
11  {"type": "Polygon", "coordinates": [[[-87.9496...      Marion, AL
12  {"type": "Polygon", "coordinates": [[[-87.1105...     Cullman, AL
13  {"type": "Polygon", "coordinates": [[[-87.1105...     Winston, AL
14  {"type": "Polygon", "coordinates": [[[-86.9679...      Blount, AL
15  {"type": "Polygon", "coordinates": [[[-86.3028...      Etowah, AL
16  {"type": "Polygon", "coordinates": [[[-87.9496...       Lamar, AL
17  {"type": "Polygon", "coordinates": [[[-87.4189...      Walker, AL
18  {"type": "Polygon", "coordinates": [[[-86.5212...   St. Clair, AL
19  {"type": "Polygon", "coordinates": [[[-85.7935...     Calhoun, AL
20  {"type": "Polygon", "coordinates": [[[-85.3352...    Cleburne, AL
21  {"type": "Polygon", "coordinates": [[[-87.8341...     Fayette, AL
22  {"type": "Polygon", "coordinates": [[[-87.0599...   Jefferson, AL
23  {"type": "Polygon", "coordinates": [[[-86.4889...   Talladega, AL
24  {"type": "Polygon", "coordinates": [[[-87.8370...  Tuscaloosa, AL
25  {"type": "Polygon", "coordinates": [[[-87.0183...      Shelby, AL
26  {"type": "Polygon", "coordinates": [[[-87.8370...     Pickens, AL
27  {"type": "Polygon", "coordinates": [[[-85.6423...    Randolph, AL
28  {"type": "Polygon", "coordinates": [[[-86.0030...        Clay, AL
29  {"type": "Polygon", "coordinates": [[[-87.4198...        Bibb, AL
30  {"type": "Polygon", "coordinates": [[[-87.7119...      Greene, AL
31  {"type": "Polygon", "coordinates": [[[-85.5896...    Chambers, AL
32  {"type": "Polygon", "coordinates": [[[-85.5896...  Tallapoosa, AL
33  {"type": "Polygon", "coordinates": [[[-86.5215...       Coosa, AL
34  {"type": "Polygon", "coordinates": [[[-87.0147...     Chilton, AL
35  {"type": "Polygon", "coordinates": [[[-87.4195...        Hale, AL
36  {"type": "Polygon", "coordinates": [[[-87.9337...      Sumter, AL
37  {"type": "Polygon", "coordinates": [[[-87.4668...       Perry, AL
38  {"type": "Polygon", "coordinates": [[[-85.8821...      Elmore, AL
39  {"type": "Polygon", "coordinates": [[[-85.0841...         Lee, AL
40  {"type": "Polygon", "coordinates": [[[-86.8206...     Autauga, AL
41  {"type": "Polygon", "coordinates": [[[-87.4683...      Dallas, AL
42  {"type": "Polygon", "coordinates": [[[-85.9319...       Macon, AL
43  {"type": "Polygon", "coordinates": [[[-87.6671...     Marengo, AL
44  {"type": "Polygon", "coordinates": [[[-85.4331...     Russell, AL
45  {"type": "Polygon", "coordinates": [[[-85.9980...  Montgomery, AL
46  {"type": "Polygon", "coordinates": [[[-86.4491...     Lowndes, AL
47  {"type": "Polygon", "coordinates": [[[-88.4650...     Choctaw, AL
48  {"type": "Polygon", "coordinates": [[[-85.4113...     Bullock, AL
49  {"type": "Polygon", "coordinates": [[[-86.9125...      Wilcox, AL

In [9]:
fips = pd.read_csv("Fips_Counties.csv")
fips["FIPS"] = fips["FIPS"].apply(lambda x: '{0:0>5}'.format(x))
fips.head(50)

     FIPS        Name State
0   01001     Autauga    AL
1   01003     Baldwin    AL
2   01005     Barbour    AL
3   01007        Bibb    AL
4   01009      Blount    AL
5   01011     Bullock    AL
6   01013      Butler    AL
7   01015     Calhoun    AL
8   01017    Chambers    AL
9   01019    Cherokee    AL
10  01021     Chilton    AL
11  01023     Choctaw    AL
12  01025      Clarke    AL
13  01027        Clay    AL
14  01029    Cleburne    AL
15  01031      Coffee    AL
16  01033     Colbert    AL
17  01035     Conecuh    AL
18  01037       Coosa    AL
19  01039   Covington    AL
20  01041    Crenshaw    AL
21  01043     Cullman    AL
22  01045        Dale    AL
23  01047      Dallas    AL
24  01049     De Kalb    AL
25  01051      Elmore    AL
26  01053    Escambia    AL
27  01055      Etowah    AL
28  01057     Fayette    AL
29  01059    Franklin    AL
30  01061      Geneva    AL
31  01063      Greene    AL
32  01065        Hale    AL
33  01067       Henry    AL
34  01069     Houston    AL
35  01071     Jackson    AL
36  01073   Jefferson    AL
37  01075       Lamar    AL
38  01077  Lauderdale    AL
39  01079    Lawrence    AL
40  01081         Lee    AL
41  01083   Limestone    AL
42  01085     Lowndes    AL
43  01087       Macon    AL
44  01089     Madison    AL
45  01091     Marengo    AL
46  01093      Marion    AL
47  01095    Marshall    AL
48  01097      Mobile    AL
49  01099      Monroe    AL

In [10]:
fips["Full County"] = fips["Name"] + ", " + fips["State"]
del fips["Name"]
del fips["State"]
fips.head(50)

     FIPS     Full County
0   01001     Autauga, AL
1   01003     Baldwin, AL
2   01005     Barbour, AL
3   01007        Bibb, AL
4   01009      Blount, AL
5   01011     Bullock, AL
6   01013      Butler, AL
7   01015     Calhoun, AL
8   01017    Chambers, AL
9   01019    Cherokee, AL
10  01021     Chilton, AL
11  01023     Choctaw, AL
12  01025      Clarke, AL
13  01027        Clay, AL
14  01029    Cleburne, AL
15  01031      Coffee, AL
16  01033     Colbert, AL
17  01035     Conecuh, AL
18  01037       Coosa, AL
19  01039   Covington, AL
20  01041    Crenshaw, AL
21  01043     Cullman, AL
22  01045        Dale, AL
23  01047      Dallas, AL
24  01049     De Kalb, AL
25  01051      Elmore, AL
26  01053    Escambia, AL
27  01055      Etowah, AL
28  01057     Fayette, AL
29  01059    Franklin, AL
30  01061      Geneva, AL
31  01063      Greene, AL
32  01065        Hale, AL
33  01067       Henry, AL
34  01069     Houston, AL
35  01071     Jackson, AL
36  01073   Jefferson, AL
37  01075       Lamar, AL
38  01077  Lauderdale, AL
39  01079    Lawrence, AL
40  01081         Lee, AL
41  01083   Limestone, AL
42  01085     Lowndes, AL
43  01087       Macon, AL
44  01089     Madison, AL
45  01091     Marengo, AL
46  01093      Marion, AL
47  01095    Marshall, AL
48  01097      Mobile, AL
49  01099      Monroe, AL

In [21]:
deaths = pd.read_csv("Deaths.csv")
deaths["County Code"] = deaths["County Code"].apply(lambda x: '{0:0>5}'.format(x))
deaths.head(25)

                  County County Code  Deaths  Population Crude Rate
0     Autauga County, AL       01001    8421      975679      863.1
1     Baldwin County, AL       01003   32481     3316841      979.3
2     Barbour County, AL       01005    5517      524875     1051.1
3        Bibb County, AL       01007    4360      420148     1037.7
4      Blount County, AL       01009   10624     1055789     1006.3
5     Bullock County, AL       01011    2430      207893     1168.9
6      Butler County, AL       01013    5225      393446       1328
7     Calhoun County, AL       01015   25796     2189206     1178.3
8    Chambers County, AL       01017    8783      662645     1325.4
9    Cherokee County, AL       01019    5825      480944     1211.2
10    Chilton County, AL       01021    8670      807006     1074.3
11    Choctaw County, AL       01023    3254      271266     1199.6
12     Clarke County, AL       01025    5454      496992     1097.4
13       Clay County, AL       01027    3435      264370     1299.3
14   Cleburne County, AL       01029    3271      278629       1174
15     Coffee County, AL       01031    9109      909426     1001.6
16    Colbert County, AL       01033   12546     1035363     1211.7
17    Conecuh County, AL       01035    3261      252529     1291.3
18      Coosa County, AL       01037    2569      215538     1191.9
19  Covington County, AL       01039    9669      712542       1357
20   Crenshaw County, AL       01041    3421      263078     1300.4
21    Cullman County, AL       01043   17639     1513843     1165.2
22       Dale County, AL       01045    8919      940798        948
23     Dallas County, AL       01047   10346      829613     1247.1
24     DeKalb County, AL       01049   13829     1309494     1056.1

In [22]:
del deaths["County"]
deaths.head(25)

   County Code  Deaths  Population Crude Rate
0        01001    8421      975679      863.1
1        01003   32481     3316841      979.3
2        01005    5517      524875     1051.1
3        01007    4360      420148     1037.7
4        01009   10624     1055789     1006.3
5        01011    2430      207893     1168.9
6        01013    5225      393446       1328
7        01015   25796     2189206     1178.3
8        01017    8783      662645     1325.4
9        01019    5825      480944     1211.2
10       01021    8670      807006     1074.3
11       01023    3254      271266     1199.6
12       01025    5454      496992     1097.4
13       01027    3435      264370     1299.3
14       01029    3271      278629       1174
15       01031    9109      909426     1001.6
16       01033   12546     1035363     1211.7
17       01035    3261      252529     1291.3
18       01037    2569      215538     1191.9
19       01039    9669      712542       1357
20       01041    3421      263078     1300.4
21       01043   17639     1513843     1165.2
22       01045    8919      940798        948
23       01047   10346      829613     1247.1
24       01049   13829     1309494     1056.1

In [23]:
merge1 = pd.merge(geojson, fips, on="Full County")
merge1.head(25)

                                          json_object     Full County   FIPS
0   {"type": "Polygon", "coordinates": [[[-87.2541...  Lauderdale, AL  01077
1   {"type": "Polygon", "coordinates": [[[-87.2541...   Limestone, AL  01083
2   {"type": "Polygon", "coordinates": [[[-86.7882...     Madison, AL  01089
3   {"type": "Polygon", "coordinates": [[[-86.3035...     Jackson, AL  01071
4   {"type": "Polygon", "coordinates": [[[-87.4250...     Colbert, AL  01033
5   {"type": "Polygon", "coordinates": [[[-87.5341...    Lawrence, AL  01079
6   {"type": "Polygon", "coordinates": [[[-86.5463...      Morgan, AL  01103
7   {"type": "Polygon", "coordinates": [[[-86.0608...    Marshall, AL  01095
8   {"type": "Polygon", "coordinates": [[[-87.5341...    Franklin, AL  01059
9   {"type": "Polygon", "coordinates": [[[-85.4165...    Cherokee, AL  01019
10  {"type": "Polygon", "coordinates": [[[-87.9496...      Marion, AL  01093
11  {"type": "Polygon", "coordinates": [[[-87.1105...     Cullman, AL  01043
12  {"type": "Polygon", "coordinates": [[[-87.1105...     Winston, AL  01133
13  {"type": "Polygon", "coordinates": [[[-86.9679...      Blount, AL  01009
14  {"type": "Polygon", "coordinates": [[[-86.3028...      Etowah, AL  01055
15  {"type": "Polygon", "coordinates": [[[-87.9496...       Lamar, AL  01075
16  {"type": "Polygon", "coordinates": [[[-87.4189...      Walker, AL  01127
17  {"type": "Polygon", "coordinates": [[[-85.7935...     Calhoun, AL  01015
18  {"type": "Polygon", "coordinates": [[[-85.3352...    Cleburne, AL  01029
19  {"type": "Polygon", "coordinates": [[[-87.8341...     Fayette, AL  01057
20  {"type": "Polygon", "coordinates": [[[-87.0599...   Jefferson, AL  01073
21  {"type": "Polygon", "coordinates": [[[-86.4889...   Talladega, AL  01121
22  {"type": "Polygon", "coordinates": [[[-87.8370...  Tuscaloosa, AL  01125
23  {"type": "Polygon", "coordinates": [[[-87.0183...      Shelby, AL  01117
24  {"type": "Polygon", "coordinates": [[[-87.8370...     Pickens, AL  01107

In [24]:
deaths.rename(columns={'County Code':'FIPS'}, inplace=True)
deaths.head(25)

     FIPS  Deaths  Population Crude Rate
0   01001    8421      975679      863.1
1   01003   32481     3316841      979.3
2   01005    5517      524875     1051.1
3   01007    4360      420148     1037.7
4   01009   10624     1055789     1006.3
5   01011    2430      207893     1168.9
6   01013    5225      393446       1328
7   01015   25796     2189206     1178.3
8   01017    8783      662645     1325.4
9   01019    5825      480944     1211.2
10  01021    8670      807006     1074.3
11  01023    3254      271266     1199.6
12  01025    5454      496992     1097.4
13  01027    3435      264370     1299.3
14  01029    3271      278629       1174
15  01031    9109      909426     1001.6
16  01033   12546     1035363     1211.7
17  01035    3261      252529     1291.3
18  01037    2569      215538     1191.9
19  01039    9669      712542       1357
20  01041    3421      263078     1300.4
21  01043   17639     1513843     1165.2
22  01045    8919      940798        948
23  01047   10346      829613     1247.1
24  01049   13829     1309494     1056.1

In [25]:
merge2 = pd.merge(merge1, deaths, on="FIPS")
merge2.head(25)

,json_object,Full County,FIPS,Deaths,Population,Crude Rate
0,"{""type"": ""Polygon"", ""coordinates"": [[[-87.2541...","Lauderdale, AL",01077,19183,1724673,1112.3
1,"{""type"": ""Polygon"", ""coordinates"": [[[-87.2541...","Limestone, AL",01083,12406,1498773,827.7
2,"{""type"": ""Polygon"", ""coordinates"": [[[-86.7882...","Madison, AL",01089,48602,6073525,800.2
3,"{""type"": ""Polygon"", ""coordinates"": [[[-86.3035...","Jackson, AL",01071,12180,1011103,1204.6
4,"{""type"": ""Polygon"", ""coordinates"": [[[-87.4250...","Colbert, AL",01033,12546,1035363,1211.7
5,"{""type"": ""Polygon"", ""coordinates"": [[[-87.5341...","Lawrence, AL",01079,7143,647747,1102.7
6,"{""type"": ""Polygon"", ""coordinates"": [[[-86.5463...","Morgan, AL",01103,22208,2210213,1004.8
7,"{""type"": ""Polygon"", ""coordinates"": [[[-86.0608...","Marshall, AL",01095,19421,1703998,1139.7
8,"{""type"": ""Polygon"", ""coordinates"": [[[-87.5341...","Franklin, AL",01059,7340,595564,1232.4
9,"{""type"": ""Polygon"", ""coordinates"": [[[-85.4165...","Cherokee, AL",01019,5825,480944,1211.2
10,"{""type"": ""Polygon"", ""coordinates"": [[[-87.9496...","Marion, AL",01093,7576,580989,1304
11,"{""type"": ""Polygon"", ""coordinates"": [[[-87.1105...","Cullman, AL",01043,17639,1513843,1165.2
12,"{""type"": ""Polygon"", ""coordinates"": [[[-87.1105...","Winston, AL",01133,5753,464198,1239.3
13,"{""type"": ""Polygon"", ""coordinates"": [[[-86.9679...","Blount, AL",01009,10624,1055789,1006.3
14,"{""type"": ""Polygon"", ""coordinates"": [[[-86.3028...","Etowah, AL",01055,25855,1967533,1314.1
15,"{""type"": ""Polygon"", ""coordinates"": [[[-87.9496...","Lamar, AL",01075,3720,280624,1325.6
16,"{""type"": ""Polygon"", ""coordinates"": [[[-87.4189...","Walker, AL",01127,18327,1284664,1426.6
17,"{""type"": ""Polygon"", ""coordinates"": [[[-85.7935...","Calhoun, AL",01015,25796,2189206,1178.3
18,"{""type"": ""Polygon"", ""coordinates"": [[[-85.3352...","Cleburne, AL",01029,3271,278629,1174
19,"{""type"": ""Polygon"", ""coordinates"": [[[-87.8341...","Fayette, AL",01057,4423,332986,1328.3
20,"{""type"": ""Polygon"", ""coordinates"": [[[-87.0599...","Jefferson, AL",01073,135019,12513832,1079
21,"{""type"": ""Polygon"", ""coordinates"": [[[-86.4889...","Talladega, AL",01121,17721,1544702,1147.2
22,"{""type"": ""Polygon"", ""coordinates"": [[[-87.8370...","Tuscaloosa, AL",01125,30154,3539810,851.9
23,"{""type"": ""Polygon"", ""coordinates"": [[[-87.0183...","Shelby, AL",01117,21825,3465592,629.8
24,"{""type"": ""Polygon"", ""coordinates"": [[[-87.8370...","Pickens, AL",01107,4798,384304,1248.5

In [26]:
merge2.to_csv("DeathsFIPS.csv", index=False, header=True)