In [1]:
#Import dependencies
import pandas as pd

In [3]:
#Import SVI14 CSV
svifinal_df = pd.read_csv('Datasets/svi14final.csv')
svifinal_df.head()

,Unnamed: 0,FIPS,Per_Capita_Income,Poverty,Disability,NoHighSchoolDiploma,LifeExpectancy
0,0,1001,24644.0,12.8,16.0,13.8,75.67
1,1,1003,26851.0,13.8,14.1,11.0,78.08
2,2,1005,17350.0,24.1,20.0,25.4,75.42
3,3,1007,18110.0,17.0,15.8,22.1,73.97
4,4,1009,20501.0,17.3,17.0,21.9,76.16

In [8]:
#Calculate means - to be used in visualizations
svifinal_df[['Per_Capita_Income', 'Poverty', 'Disability', 'NoHighSchoolDiploma', 'LifeExpectancy']].mean()

Per_Capita_Income      24066.300955
Poverty                   16.792452
Disability                15.544076
NoHighSchoolDiploma       15.013408
LifeExpectancy            77.756350
dtype: float64