In [1]:
import pandas as pd
import numpy as np

In [2]:
overalldeath = pd.read_csv('Resources/OverallDeaths.txt', sep="\t")

In [3]:
overalldeath = overalldeath.rename(columns={'Deaths': 'Total_Deaths'})
overalldeath = overalldeath.drop(['Crude Rate', 'Notes'], axis=1)
overalldeath = pd.read_csv('Resources/OverallDeaths.txt', sep="\t")
overalldeath = overalldeath.rename(columns={'Deaths': 'Total_Deaths'})
overalldeath = overalldeath.drop(['Crude Rate', 'Notes'], axis=1)
overalldeath["Total_Death_Rate"] = (overalldeath['Total_Deaths'] / overalldeath['Population']) * 1000

In [4]:
accident = pd.read_csv('Resources/AccidentDeaths.txt', sep="\t")
accident = accident.rename(columns={'Deaths': 'Accident_Deaths'})
accident["Accident_Death_Rate"] = (accident['Accident_Deaths'] / accident['Population']) * 1000
accident = accident[["County Code", "Accident_Deaths", "Accident_Death_Rate"]]
merge1 = overalldeath.merge(accident, how="outer", left_on='County Code', right_on='County Code')

In [5]:
Alzheimer = pd.read_csv('Resources/AlzheimerDeaths.txt', sep="\t")
Alzheimer = Alzheimer.rename(columns={'Deaths': 'Alzheimer_Deaths'})
Alzheimer["Alzheimer_Death_Rate"] = (Alzheimer['Alzheimer_Deaths'] / Alzheimer['Population']) * 1000
Alzheimer = Alzheimer[["County Code", "Alzheimer_Deaths", "Alzheimer_Death_Rate"]]
merge2 = merge1.merge(Alzheimer, how="outer", left_on='County Code', right_on='County Code')

In [6]:
Cancer = pd.read_csv('Resources/CancerDeaths.txt', sep="\t")
Cancer = Cancer.rename(columns={'Deaths': 'Cancer_Deaths'})
Cancer["Cancer_Death_Rate"] = (Cancer['Cancer_Deaths'] / Cancer['Population']) * 1000
Cancer = Cancer[["County Code", "Cancer_Deaths", "Cancer_Death_Rate"]]
merge3 = merge2.merge(Cancer, how="outer", left_on='County Code', right_on='County Code')

In [7]:
Diabetes = pd.read_csv('Resources/DiabetesDeaths.txt', sep="\t")
Diabetes = Diabetes.rename(columns={'Deaths': 'Diabetes_Deaths'})
Diabetes["Diabetes_Death_Rate"] = (Diabetes['Diabetes_Deaths'] / Diabetes['Population']) * 1000
Diabetes = Diabetes[["County Code", "Diabetes_Deaths", "Diabetes_Death_Rate"]]
merge4 = merge3.merge(Diabetes, how="outer", left_on='County Code', right_on='County Code')

In [8]:
Flu = pd.read_csv('Resources/FluDeaths.txt', sep="\t")
Flu = Flu.rename(columns={'Deaths': 'Flu_Deaths'})
Flu["Flu_Death_Rate"] = (Flu['Flu_Deaths'] / Flu['Population']) * 1000
Flu = Flu[["County Code", "Flu_Deaths", "Flu_Death_Rate"]]
merge5 = merge4.merge(Flu, how="outer", left_on='County Code', right_on='County Code')

In [9]:
Heart = pd.read_csv('Resources/HeartDeaths.txt', sep="\t")
Heart = Heart.rename(columns={'Deaths': 'Heart_Deaths'})
Heart["Heart_Death_Rate"] = (Heart['Heart_Deaths'] / Heart['Population']) * 1000
Heart = Heart[["County Code", "Heart_Deaths", "Heart_Death_Rate"]]
merge6 = merge5.merge(Heart, how="outer", left_on='County Code', right_on='County Code')

In [10]:
Kidney = pd.read_csv('Resources/KidneyDeaths.txt', sep="\t")
Kidney = Kidney.rename(columns={'Deaths': 'Kidney_Deaths'})
Kidney["Kidney_Death_Rate"] = (Kidney['Kidney_Deaths'] / Kidney['Population']) * 1000
Kidney = Kidney[["County Code", "Kidney_Deaths", "Kidney_Death_Rate"]]
merge7 = merge6.merge(Kidney, how="outer", left_on='County Code', right_on='County Code')

In [11]:
LowerResp = pd.read_csv('Resources/LowerRespDeaths.txt', sep="\t")
LowerResp = LowerResp.rename(columns={'Deaths': 'LowerResp_Deaths'})
LowerResp["LowerResp_Death_Rate"] = (LowerResp['LowerResp_Deaths'] / LowerResp['Population']) * 1000
LowerResp = LowerResp[["County Code", "LowerResp_Deaths", "LowerResp_Death_Rate"]]
merge8 = merge7.merge(LowerResp, how="outer", left_on='County Code', right_on='County Code')

In [12]:
Stroke = pd.read_csv('Resources/StrokeDeaths.txt', sep="\t")
Stroke = Stroke.rename(columns={'Deaths': 'Stroke_Deaths'})
Stroke["Stroke_Death_Rate"] = (Stroke['Stroke_Deaths'] / Stroke['Population']) * 1000
Stroke = Stroke[["County Code", "Stroke_Deaths", "Stroke_Death_Rate"]]
merge9 = merge8.merge(Stroke, how="outer", left_on='County Code', right_on='County Code')

In [13]:
Suicide = pd.read_csv('Resources/SuicideDeaths.txt', sep="\t")
Suicide = Suicide.rename(columns={'Deaths': 'Suicide_Deaths'})
Suicide["Suicide_Death_Rate"] = (Suicide['Suicide_Deaths'] / Suicide['Population']) * 1000
Suicide = Suicide[["County Code", "Suicide_Deaths", "Suicide_Death_Rate"]]
merge10 = merge9.merge(Suicide, how="outer", left_on='County Code', right_on='County Code')

In [14]:
merge10.head()

,County,County Code,Total_Deaths,Population,Total_Death_Rate,Accident_Deaths,Accident_Death_Rate,Alzheimer_Deaths,Alzheimer_Death_Rate,Cancer_Deaths,...,Heart_Deaths,Heart_Death_Rate,Kidney_Deaths,Kidney_Death_Rate,LowerResp_Deaths,LowerResp_Death_Rate,Stroke_Deaths,Stroke_Death_Rate,Suicide_Deaths,Suicide_Death_Rate
0,"Autauga County, AL",1001,520,55416,9.383572,30.0,0.541360,20.0,0.360907,106.0,...,118.0,2.129349,NaN,NaN,37.0,0.667677,36.0,0.649632,14.0,0.252635
1,"Baldwin County, AL",1003,1974,208563,9.464766,98.0,0.469882,63.0,0.302067,461.0,...,492.0,2.358999,47.0,0.225352,119.0,0.570571,110.0,0.527419,42.0,0.201378
2,"Barbour County, AL",1005,256,25965,9.859426,10.0,0.385134,NaN,NaN,59.0,...,67.0,2.580397,11.0,0.423647,11.0,0.423647,20.0,0.770268,NaN,NaN
3,"Bibb County, AL",1007,239,22643,10.555138,26.0,1.148258,NaN,NaN,55.0,...,63.0,2.782317,NaN,NaN,13.0,0.574129,15.0,0.662456,NaN,NaN
4,"Blount County, AL",1009,697,57704,12.078885,54.0,0.935810,27.0,0.467905,155.0,...,154.0,2.668792,NaN,NaN,63.0,1.091779,36.0,0.623874,11.0,0.190628

In [15]:
# fill all nan with 0 - could also comment this out too
#merge10 = merge10.apply(pd.to_numeric, errors='coerce').fillna(0, downcast='infer')

In [17]:
merge10.dtypes

County                   object
County Code               int64
Total_Deaths              int64
Population                int64
Total_Death_Rate        float64
Accident_Deaths         float64
Accident_Death_Rate     float64
Alzheimer_Deaths        float64
Alzheimer_Death_Rate    float64
Cancer_Deaths           float64
Cancer_Death_Rate       float64
Diabetes_Deaths         float64
Diabetes_Death_Rate     float64
Flu_Deaths              float64
Flu_Death_Rate          float64
Heart_Deaths            float64
Heart_Death_Rate        float64
Kidney_Deaths           float64
Kidney_Death_Rate       float64
LowerResp_Deaths        float64
LowerResp_Death_Rate    float64
Stroke_Deaths           float64
Stroke_Death_Rate       float64
Suicide_Deaths          float64
Suicide_Death_Rate      float64
dtype: object

In [18]:
len(merge10)

3105

In [19]:
merge10.to_csv('Resources/output_deathrates.csv')

In [20]:
deathrate = pd.read_csv('Resources/output_deathrates.csv')

In [21]:
# read in top 10 mortality data and rates csv that was created from txt files
deathrate = pd.read_csv('output_deathrates.csv')

# create FIPS column that matches the existing county code
deathrate["FIPS"] = deathrate["County Code"]

In [22]:
deathrate.head()

,Unnamed: 0,County,County Code,Total_Deaths,Population,Total_Death_Rate,Accident_Deaths,Accident_Death_Rate,Alzheimer_Deaths,Alzheimer_Death_Rate,...,Heart_Death_Rate,Kidney_Deaths,Kidney_Death_Rate,LowerResp_Deaths,LowerResp_Death_Rate,Stroke_Deaths,Stroke_Death_Rate,Suicide_Deaths,Suicide_Death_Rate,FIPS
0,0,0,1001,520,55416,9.383572,30,0.541360,20,0.360907,...,2.129349,0,0.000000,37,0.667677,36,0.649632,14,0.252635,1001
1,1,0,1003,1974,208563,9.464766,98,0.469882,63,0.302067,...,2.358999,47,0.225352,119,0.570571,110,0.527419,42,0.201378,1003
2,2,0,1005,256,25965,9.859426,10,0.385134,0,0.000000,...,2.580397,11,0.423647,11,0.423647,20,0.770268,0,0.000000,1005
3,3,0,1007,239,22643,10.555138,26,1.148258,0,0.000000,...,2.782317,0,0.000000,13,0.574129,15,0.662456,0,0.000000,1007
4,4,0,1009,697,57704,12.078885,54,0.935810,27,0.467905,...,2.668792,0,0.000000,63,1.091779,36,0.623874,11,0.190628,1009

In [23]:
# read ub svi csv from CDC's website
svi = pd.read_csv('Resources/SVI2016_US_COUNTY.csv')

# merge social vulernability index csv by FIPS county code with deathrate csv County Code. 
testmerge = svi(deathrate, how="outer", left_on="FIPS", right_on="FIPS")

TypeError: 'DataFrame' object is not callable

In [24]:
# what Connor provided
svi_merged = pd.read_csv('Resources/SVI Merged.csv')
len(svi_merged)

3103

In [ ]:
svi_merged.head()

In [ ]:
# removes margin of error columns from the dataframe and flag 
svi_merged = svi_merged[svi_merged.columns.drop(list(svi_merged.filter(regex="M_")))]
svi_merged = svi_merged[svi_merged.columns.drop(list(svi_merged.filter(regex="F_")))]

In [ ]:
svi_merged.head()

In [ ]:
len(svi_merged)